*{
  box-sizing: border-box;
}

body{
  background-color: black;
  margin: 0;
  padding: 0;
}

.container{
 width: 920px;
 height: 520px;
 background-color: gray;
 margin: 50px auto;
 border: 10px DarkGreen solid;
 border-radius: 10px;

}

.right-head{
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.down-head{
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.left-head{
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.up-head{
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.yellow{
  background-color: yellow;
}

.row{
  height: 20px;
  margin: 0;
  padding: 0;
}
.square{
  width: 20px;
  height: inherit;
  display: inline-block;
}

.snake{
  background-color: green;
}

.food{
  background-color: red;
  border-radius: 50px;
  border: 1px white solid;
}
