*{
  box-sizing: border-box;
}

body{
  background-color: black;
  margin: 0;
  padding: 0;
}

.container{
 width: 920px;
 height: 520px;
 background-color: gray;
 margin: 0 auto;
 border: 10px green solid;
 border-radius: 10px;

}

.yellow{
  background-color: yellow;
}

.row{
  height: 20px;
  margin: 0;
  padding: 0;
}
.square{
  width: 20px;
  height: inherit;
  display: inline-block;
}

.active{
  border-radius: 50px;
  border: 1px white solid;
}
